.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
  opacity: 0;
  transition: opacity 300ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-content {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  width: 541px;
  padding: 40px;
  background-color: #fff;
  border-radius: 24px;
  transform: translateY(-50%);
}

.modal-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  stroke: #121417;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-rental-button {
  width: 168px;
  margin-top: 31px;
  padding: 12px 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  border: none;
  border-radius: 12px;
  background: #3470ff;
  cursor: pointer;
}
